<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<html ng-app="fishvetApp" class="">

<head>
    <style type="text/css">
        @charset "UTF-8";

        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <!-- Standard Meta -->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="NyU2t3jVXAEiKB7ZX1QgFYB1BmeQwjuzUvYcd9RF">
    <!-- Site Properties -->
    <title></title>
    <!-- <base href="https://fishvetapp.com/"> -->
    <!-- <script src="https://fishvetapp.com/js/backend.js?id=557e9481a19b7235129d" type="text/javascript"></script> -->

    <link rel="stylesheet" href="https://fishvetapp.com/css/backend.css?id=7111ea01a754a905190c">
    <link rel="stylesheet" href="./page.css">




    <script type="text/javascript">

        fishvetApp.factory('Data', function () {
            return {
                root_path: "https://fishvetapp.com"
            };
        });

        $(document).ready(function () {
            var datepicker = $.fn.datepicker.noConflict();
            $.fn.bootstrapDP = datepicker;
            $.fn.bootstrapDP.dates['en'].monthsShort = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
        });
    </script>


    <style type="text/css">
        .fancybox-margin {
            margin-right: 0px;
        }
    </style>
    <script src="page.js" type="module"></script>
    <script data-main="page.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js">
    </script>

</head>

<body>
    <div id="get_number">90</div>
    <div id="notification"><span></span>
        <div id="notification-close"><a><i class="remove sign icon link white large"></i></a></div>
    </div>
    <div class="segment site-header">
        <div class="logo"></div>
    </div>
    <div class="ui pointing menu">

        <a class=" item" href="https://fishvetapp.com/diagnose">
            <i class="search icon"></i> Diagnose
        </a>

        <a class="active item" href="https://fishvetapp.com/disease">
            <i class="bug icon"></i> Edit diseases
        </a>

        <a class=" item" href="https://fishvetapp.com/symptom">
            <i class="checked checkbox icon"></i> Edit symptoms
        </a>

        <a class=" item" href="https://fishvetapp.com/contributor">
            <i class="users icon"></i> Edit contributors
        </a>

        <a class=" item" href="https://fishvetapp.com/picture">
            <i class="users icon"></i> Manage pictures
        </a>


        <a class=" item" href="https://fishvetapp.com/users">
            <i class="user icon"></i> Users
        </a>

        <div class="right menu">
            <a class="item" href="https://fishvetapp.com/login/out">
                <i class="close icon"></i> Logout
            </a>
        </div>

    </div>

    <div class="ui grid" ng-controller="diseaseController">
        <div class="row">
            <div class="column">
                <div class="ui breadcrumb">
                    <a class="section"></a><a href="https://fishvetapp.com/disease">Diseases</a>

                   
                    <!--  <i class="right arrow icon divider"></i>
                    <span class="section active ng-pristine ng-untouched ng-valid ng-not-empty" htmlcontent=""
                        ng-model="disease.pop_name" style=""></span> -->
                </div>

                <div style="position: absolute; left: 42px;top: 205px;z-index: 999; margin-top: 0px;">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                          <h3 style="margin-right: 5px;">Disease: </h3>
                            <h4 style="margin-right: 15px;" id="disease-page"></h4>
                        <select id="create-page"onchange="selectPage(event)">
                        </select>

                        <div style="">
                            <button style="" id="create-page-button" onclick="createPage()">New Page</button>
                        </div>

                         <h3 style=" margin-left: 30px;" >Font style: </h3>

                    <select onclick="changeFontValue(event)" style="margin-left: 10px;">
                        <option value="Italic" style="font-family: Arial;">Italic</option>
                        <option value="Bold" style="font-family: Georgia;">Bold</option>
                        <option value="Blue Text" style="font-family: Georgia;">Blue Text</option>
                        <option value="Green Text" style="font-family: Georgia;">Green Text</option>
                        <option value="Reset" style="font-family: Courier New;">Reset</option>
                    </select>

                    <div style="position: relative;">
                        <button style="left: 500px;" id="update-style-button" onclick="updateStyle()">Update
                            Text</button>
                    </div>

                    
                        <div style="margin-left: 50px;">
                            <button style="" id="create-page-button" onclick="createPage()">Download Page</button>
                        </div>
                        
                    </div>
                </div>

             <!--  <div style="position: relative; left: 375px;  z-index: 999; margin-top: -35px;">


                </div> -->
            </div>
        </div>

        <div class="equal height row">
            <div class="four wide column right-border">
                <div class="ui large form">
                    <div class="field">
                        <label class="strong">Url name</label>
                        <div class="ui left labeled input ng-pristine ng-untouched ng-valid ng-not-empty"
                            contenteditable="true" ng-model="disease.url" id="url-name"
                            onclick="setSelectedElementId(event)"></div>
                    </div>
                    <div class="field">
                        <label class="strong">Popular name</label>
                        <div class="ui left labeled input ng-pristine ng-untouched ng-valid ng-not-empty"
                            contenteditable="true" ng-model="disease.pop_name" id="popular-name"
                            onclick="setSelectedElementId(event)"></div>
                    </div>
                    <div class="field">
                        <label class="strong">Scientific name</label>
                        <div class="ui left labeled input ng-pristine ng-untouched ng-valid ng-not-empty"
                            contenteditable="true" ng-model="disease.sci_name" id="scientific-name"
                            onclick="setSelectedElementId(event)"></div>

                    </div>
                    <div class="field">
                        <label class="strong">Causes</label>
                        <div class="ui left labeled input ng-pristine ng-untouched ng-valid ng-not-empty"
                            contenteditable="true" ng-model="disease.causes" style="font-style: italic;" id="causes"
                            onclick="setSelectedElementId(event)">.</div>
                    </div>
                    <div class="field">
                        <label class="strong">Prognosis</label>
                        <div class="ui left labeled input ng-pristine ng-untouched ng-valid ng-not-empty"
                            contenteditable="true" ng-model="disease.treatment" style="" id="prognois"
                            onclick="setSelectedElementId(event)"></div>

                    </div>
                    <div class="field">
                        <label class="strong">Treatment</label>
                        <div class="ui left labeled input ng-pristine ng-untouched ng-valid ng-not-empty"
                            contenteditable="true" ng-model="disease.treatment" style="" id="treatment"
                            onclick="setSelectedElementId(event)"></div>
                    </div>
                    <div class="field">
                        <label class="strong">Prophylaxis</label>
                        <div class="ui left labeled input ng-pristine ng-untouched ng-valid ng-empty"
                            contenteditable="true" ng-model="disease.prophylax" id="prophylaxis"
                            onclick="setSelectedElementId(event)"></div>
                    </div>
                    <div class="field">
                        <label class="strong">Essay</label>
                        <div class="ui left labeled input ng-pristine ng-untouched ng-valid ng-empty"
                            contenteditable="true" ng-model="disease.essay" id="essay"
                            onclick="setSelectedElementId(event)"></div>
                    </div>
                    <div class="field">
                        <label class="strong">
                            Epidemiology
                        </label>
                        <div>
                            <h2 style="color: rgb(0, 0, 0); font-size: 24px;" id="contributors" contenteditable="true"
                                onclick="setSelectedElementId(event)">
                                Contributor(s).
                            </h2>
                        </div>
                    </div>

                    <div class="field">
                        <div>
                            <h2 style="font-size: 18px;" id="contributors-2" contenteditable="true"
                                onclick="setSelectedElementId(event)">

                            </h2>
                        </div>
                    </div>

                    <div class="field">
                        <div>
                            <p style="font-size: 18px;" id="ontributor-footer" contenteditable="true"
                                onclick="setSelectedElementId(event)">
                                For further information contact
                            </p>
                        </div>
                    </div>




                    <!--
                            <div></div>
                            <p id="contributor-name" style="font-size: 13.5pt;" onclick="setSelectedElementId(event)">

                            </p>


                            <p style="font-size: 13.5pt;" id="company-name" 
                                onclick="setSelectedElementId(event)">

                            </p>


                            <div id="summary-name" onclick="setSelectedElementId(event)">

                            </div>

                        -->

                </div>

                <div class="ui divider"></div>

                <div class="ui action input fluid">
                    <input type="text" placeholder="Youtube link" ng-model="newVideo"
                        class="ng-pristine ng-untouched ng-valid ng-empty">
                    <div class="ui button" ng-click="addVideo()">Add</div>
                </div>


                <!---->
                <div ng-if="disease.videos.length" class="" style="">

                    <h2 class="grey">Videos</h2>

                    <div class="ui fluid images captions">
                        <!----><span class="image-container relative" ng-repeat="v in disease.videos">

                            <div jqyoui-droppable="{multiple:true,onDrop:'addSymptomToVideo(v)'}" data-drop="true"
                                class="ui-droppable" aria-disabled="false">
                                <div class="align-right"><i class="ui icon remove sign grey link huge no-margin"
                                        ng-click="removeVideo(disease.id,v)"></i></div>




                            </div>

                        </span><!---->


                    </div>

                </div><!---->

                <br>
                <br>
                <button class="file-upload ui button icon">
                    <input type="file" class="upload" data-ng-upload="" data-upload-form-data="{disease_id:74}"
                        data-ng-coors-url="coorsUrl.html" data-url="https://fishvetapp.com/disease/upload-picture"
                        name="picture">
                    <i class="ui icon upload"></i>
                    <span>Upload picture</span>
                </button>



                <div ng-show="disease.pictures" class="" style="">

                    <h2 class="grey">Disease pictures</h2>

                    <div class="ui fluid images captions">

                    </div>

                </div>

                <div ng-show="disease.symptoms" class="">

                    <h2 class="grey">Symptom pictures</h2>

                    <div class="ui fluid images captions">
                        <div ng-repeat="s in disease.symptoms" class="">
                            <!---->

                            <!---->
                        </div><!---->
                    </div>
                </div>
            </div>



            <div class="two wide column right-border">
                <h2 class="grey">Settings</h2>
                <div class="ui divided list">
                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui checkbox">
                                    <input id="Is active" type="checkbox" onchange="getValue(event)">
                                    <label for="Is active">Is active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui checkbox">
                                    <input id="PRO" type="checkbox" value="1" onclick="getValue(event)">
                                    <label for="PRO">Only available in PRO version</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="grey">Water type</h2>
                <div class="ui divided list">

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="Water marine" type="radio" name="water" value="0"
                                        onclick="getValue(event)">
                                    <label for="Water marine">Marine</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="Water fresh" type="radio" name="water" value="1"
                                        onclick="getValue(event)">
                                    <label for="Water fresh">Fresh</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="Water both" type="radio" name="water" value="2" onclick="getValue(event)"
                                        checked>
                                    <label for="Water both">Both</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="ui divided list">

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-100" type="radio" name="fish_id" value="0"
                                        onclick="getValue(event)">
                                    <label for="fish-100">All species</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-3" type="radio" name="fish_id" value="1" onclick="getValue(event)">
                                    <label for="fish-3">Catfish</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-1" type="radio" name="fish_id" value="2" onclick="getValue(event)">
                                    <label for="fish-1">Cyprinid</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-6" type="radio" name="fish_id" value="3" onclick="getValue(event)">
                                    <label for="fish-6">Mullet</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-0" type="radio" name="fish_id" value="4" onclick="getValue(event)">
                                    <label for="fish-0">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-2" type="radio" name="fish_id" value="5" onclick="getValue(event)"
                                        checked>
                                    <label for="fish-2">Salmonid</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-7" type="radio" name="fish_id" value="6" onclick="getValue(event)">
                                    <label for="fish-7">Sea Bass</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-4" type="radio" name="fish_id" value="7" onclick="getValue(event)">
                                    <label for="fish-4">Sea Bream</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-5" type="radio" name="fish_id" value="8" onclick="getValue(event)">
                                    <label for="fish-5">Tilapia</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="content">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input id="fish-8" type="radio" name="fish_id" value="9" onclick="getValue(event)">
                                    <label for="fish-8">Turbot</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="two wide column right-border">

                <h2 class="grey">Symptoms</h2>
                <div class="ui icon fluid input">
                    <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">

                        <select id="symptom-category-select" onclick="setCurrentSymptomCategory(event)">
                            <option value="Behaviour">Behaviour</option>
                            <option value="Water-quality">Water quality</option>
                            <option value="Body">Body</option>
                            <option value="Eyes">Eyes</option>
                            <option value="Fins">Fins</option>
                            <option value="Gills">Gills</option>
                            <option value="Tail">Tail</option>
                            <option value="Haemotology">Haemotology</option>
                            <option value="Histopathology">Histopathology</option>
                            <option value="Pathology">Pathology</option>
                        </select>

                        <div class="dropdown" onkeydown="displaySymptoms(event)" onmouseleave="hideDropdown()">
                            <input type="text" id="search-symptom" placeholder="Search to add a new symptom..."
                                autocomplete="off" spellcheck="false">
                            <div class="dropdown-content" id="dropdownContent">

                            </div>
                        </div>


                        <button onclick="addSymptom()">Add Symptom</button>
                    

                        <pre aria-hidden="true"
                            style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                        <span class="tt-dropdown-menu"
                            style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
                            <div class="tt-dataset-symptoms-dataset"></div>
                        </span>
                    </span>

                </div>
                <br>
                <span class="scroll-fixed-box fluid shrink">
                    <!-- BEHAVIOUR -->
                    <h4 class="small-margin">
                        <div class="inline link">
                            Behaviour <span onclick="toggleSymptoms()"> &#43; </span>
                        </div>
                        <div id="behaviour-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">

                            </div>
                        </div>
                    </h4>


                    <!-- WATER QUALITY -->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(5)">
                            Water quality <span> &#43; </span>
                        </div>
                        <div id="water-quality-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>
                    </h4>

                    <!-- BODY -->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(2)">
                            Body <span> &#43; </span>
                        </div>
                        <div id="body-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>
                    </h4>

                    <!-- EYES -->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(4)">
                            Eyes <span> &#43; </span>
                        </div>
                        <div id="eyes-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>
                    </h4>

                    <!-- FINS -->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(6)">
                            Fins <span> &#43; </span>
                        </div>
                        <div id="fins-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>

                    </h4>

                    <!-- GILLS -->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(8)">
                            Gills <span> &#43; </span>
                        </div>
                        <div id="gills-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>
                    </h4>


                    <!-- Tail-->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(7)">
                            Tail <span> &#43; </span>
                        </div>
                        <div id="tail-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>
                    </h4>

                    <!-- HAEMATOLOGY -->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(7)">
                            Haemotology <span> &#43; </span>
                        </div>
                        <div id="haemotology-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>
                    </h4>

                    <!-- Histopathology -->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(10)">
                            Histopathology <span> &#43; </span>
                        </div>
                        <div id="histopathology-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>
                    </h4>

                    <!-- PATHOLOGY -->
                    <h4 class="small-margin">
                        <div class="inline link" ng-click="showSymptomsModal(9)">
                            Pathology <span> &#43; </span>
                        </div>
                        <div id="pathology-container" style="display: block;">
                            <div id="collapsibleDiv" class="collapsibleDiv">


                            </div>
                        </div>
                    </h4>

                </span>




            </div>

            <!--<div class="one wide column">
                <div class="form-buttons invisible scroll-fixed">
                    <button class="ui green button save" onclick="test()">Save changes</button>
                    <br><br>
                    <button class="ui black button cancel" ng-click="cancelChanges()">Cancel changes</button>
                    <br><br>
                </div>
                <div class="scroll-fixed-2">
                    <button class="ui red button" onclick="test()">Delete disease</button>
                </div>
            </div>-->


        </div>

        <div class="ui modal large" ng-class="{true:'giant',false:'large'}[typeSymptoms.symptoms.length &gt; 50]">
            <i class="close icon"></i>
            <div class="header">
                <span class="grey">Add</span> <span class="grey">symptom to</span> Salmonid herpes virus <span
                    class="grey">disease</span>
            </div>
            <div class="content">
                <div class="ui divided list three-columns">
                    <!---->
                </div>
            </div>
            <div class="actions">
                <div class="ui button">
                    Cancel
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $('#notification-close').on('click', function () {
            $('#notification').removeClass('on');
        })


        window.onscroll = function () {
            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            if (scrollTop > 200) {


                var parentWidth = $('.scroll-fixed').parent().width();
                $('.scroll-fixed-box .divided.list').addClass('small');
                $('.scroll-fixed-box').addClass('panel-bottom-right');
                $('.scroll-fixed-box h4').removeClass('small-margin').addClass('no-margin');


                $('.scroll-fixed').css('width', parentWidth + 'px');
                $('.scroll-fixed').addClass('fixed-top');
                $('.scroll-fixed-2').addClass('fixed-top-2');

            }
            else {
                $('.scroll-fixed').removeClass('fixed-top');
                $('.scroll-fixed-2').removeClass('fixed-top-2');

                $('.scroll-fixed').css('width', 'auto');


                $('.scroll-fixed-box .divided.list').removeClass('small');
                $('.scroll-fixed-box h4').removeClass('no-margin').addClass('small-margin');
                $('.scroll-fixed-box').removeClass('panel-bottom-right');

            }

        };

    </script>



</body>

</html>